html, body {
  margin: 0;
  padding: 0;
}

.header{
padding-top: 20px;
border: solid;
border-color: gray;
margin-top: 50px;
margin-right: 900px;

}

.item p{
  border:solid;
  border-color: gold;
  background-color: black;
  color: azure;

}

.grid{
  border:solid;
  border-color: gray;
  margin-right: 1000px;
}

li{
  background-color: black;
  color: azure;
  border: solid;
  border-color: gold;
}